{{!-- <button {{action 'a'}}>+</button>
{{#if isAdding}}
    {{#each filters as |filter|}}
        {{filter.name}}
        {{ember-filter/add/value values=filter.values selectValue=(action "selectValue")}}
    {{/each}}
{{/if}} --}}

<button {{action 'a'}}>+</button>
{{#if isAdding}}
    {{#each filters as |filter|}}
        {{filter.name}}
        {{ember-filter/add/value values=filter.values filter=filter sendData=(action "add")}}
    {{/each}}
{{/if}}

